.services {
    padding: 40px 70px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;

    @media (max-width: '1024px') {
        grid-template-columns: auto auto auto;
        padding: 20px;
    }

    @media (max-width: '700px') {
        grid-template-columns: auto auto;

    }

    @media (max-width: '400px') {
        grid-template-columns: auto;

    }

    .service {
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding-top: 15px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: -1px 0px 14px 2px rgba(0, 0, 0, 0.2);

        &:hover {
            transition: all .3s;
            transform: scale(1.05);
        }

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                padding: 7px;
                background-color: indigo;
                border-radius: 50%;
                color: #fff;
                margin-top: 15px;

                &:hover {
                    transition: all .4s;
                    transform: scale(1.2);
                }
            }
        }

        .secure {
            width: 70%;
            display: flex;
            flex-direction: column;

            h3 {
                font-family: 'Work Sans';
            }

            p {
                font-family: 'Montserrat';

            }
        }
    }

}