
.login {
     height: 100vh;
    width: 100%;
    position: absolute;
   
    z-index: -100;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../../assets//Forregister.jpg');
    background-repeat: no-repeat;
    background-size: cover;
     @media (max-width: '1200px') {
             
         padding-top : 70px;
        } 

    form {
        width: 500px;
        height: auto;
        padding: 25px;
        border-radius: 10px;
        border: 1px solid white;
        // background: transparent;
        backdrop-filter: blur(7px);

        @media (max-width: '1200px') {
            width: 50%;
        }

        @media (max-width: '800px') {
            width: 70%;
        }

        @media (max-width: '500px') {
            width: 90%;
        }

        a {
            color: rgb(223, 196, 242);
        }

        p {
            text-align: center;
            color: #fff;
            font-size: 20px;
        }

        div {
            margin: 15px 0;
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 10px;
                border-radius: 5px;
                color: #fff;
                font-weight: 700;
                font-family: 'Montserrat', sans-serif;
                font-family: 'Open Sans', sans-serif;
            }

            input {
                width: 100%;
                border: 1px solid #fff;
                color: #fff;
                padding: 10px;
                font-size: 20px;
                background-color: transparent;
                backdrop-filter: blur(0);
                outline: none;
                border-radius: 5px;


            }

            ::placeholder {
                color: #fff;
                font-size: 14px;
            }
        }


        .login_btn {
            width: 100%;
            display: inline-block;
            outline: none;
            font-family: inherit;
            font-size: 1em;
            box-sizing: border-box;
            border: none;
            font-weight: bold;
            border-radius: .3em;
            height: 2.75em;
            line-height: 2.5em;
            text-transform: uppercase;
            padding: 0 1em;
            box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(110, 80, 20, .4),
                inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
                inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
            background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
            border: 1px solid #a55d07;
            color: rgb(120, 50, 5);
            text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
            cursor: pointer;
            transition: all .2s ease-in-out;
            background-size: 100% 100%;
            background-position: center;

            &:focus,
            &:hover {
                background-size: 150% 150%;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
                    inset 0 -2px 5px 1px #b17d10,
                    inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
                border: 1px solid rgba(165, 93, 7, .6);
                color: rgba(120, 50, 5, .8);
                transform: translateY(2px);
            }

            &:active {
                box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(110, 80, 20, .4),
                    inset 0 -2px 5px 1px #b17d10,
                    inset 0 -1px 1px 3px rgba(250, 227, 133, 1);

            }


        }
         

        .with_google {
            display: flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            backdrop-filter: blur(20px);
            color: #fff;
            border-radius: 8px;
            width: 100%;
            padding: 5px 10px;
            border: 1px solid #fff;
            font-size: 17px;
            font-family: 'Montserrat';
            margin: 15px 0;

 a{
    color: #fff;
 }

            &:hover {
                transform: translateY(2px);
                transition: all .4s;
            }

            img {
                margin-right: 20px;
                width: 20px;
            }
        }

    }
}